/*
 *	LinkU css theme file:
 *	overrides some styles from assets/css/main.css
 *	Author: Leonardo Lanzinger
 *	Colors:
 *	cyan: #00BCD4;
 *	deep purple: #673AB7;
 *	teal: #009688;
 */

body {
	background-color: #fff;
	color: #555;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #333;
}

p {
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}

h4.bigger-line {
	line-height: 32px;
}

h3.under-logo {
	font-weight: 300;
}

h3.under-business {
	font-weight: 400;
}

hr {
	border-top: 1px solid #eee;
}

div.form-group {
	display: inline-block;
}

.navbar {
	padding: 20px 0;
}

.navbar a {
	font-weight: 900;
	cursor: pointer;
}

#top-left-logo {
	width: 60px;
}

#logo-big-header {
	width: 200px;
}

.p-logo {
	display: inline-block;
	height: 24px;
	vertical-align: top;
}

.h3-logo {
	display: inline-block;
	height: 32px;
	vertical-align: bottom;
}

.h4-logo {
	display: inline-text;
	vertical-align: bottom;
	height: 32px;
}

#headerwrap {
	background-image: url('../img/background-top.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 140px;
}

.background-categories {
	background-image: url('../img/background-top.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
}

@media (max-width: 768px) {
	#headerwrap, .background-categories {
		background-image: url('../img/background-top-small.png');
	}
}

#headerwrap h1 {
	margin-top: 20px;
}

#event-screen-top {
	width: 340px;
}

.flat-button {
	border: none;
}

.flat-button:hover {
	border: none;
}

.logo-h1 {
	max-width: 350px;
	width: 100%;
	margin-top: 20px;
}

.padded {
	padding: 40px 0;
}

.less-padded {
	padding: 20px 0;
}

.padding-bottom {
	padding-bottom: 40px;
}

.padding-bottom-more {
	padding-bottom: 80px;
}

.padding-top {
	padding-top: 40px;
}

.header-background-md {
	position: absolute;
	z-index: 0;
	top: 120px;
	right: 25%;
	width: 240px;
}

.header-background-md img {
	width: 240px;
}

.header-background-sm {
	position: absolute;
	z-index: 0;
	top: 120px;
	right: 8%;
	width: 240px;
}

.header-background-sm img {
	width: 240px;
}

/* colors */
.cyan {
	background-color: #00BCD4;
}

.deep-purple {
	background-color: #673AB7;
}

.teal {
	background-color: #009688;	
}

.coloured-row {
	background-color: #673AB7;
}

.coloured-row, .coloured-row h3, .coloured-row h1, .coloured-row h2, .coloured-row h4 {
	color: white;
}

.light-text, .light-text h3, .light-text h1, .light-text h2, .light-text h4 {
	color: white !important;
}

.dark-text, .dark-text h3, .dark-text h1, .dark-text h2, .dark-text h4 {
	color: black !important;
}

@media (max-width: 768px) {
	.video-centered {
		width: 460px;
		height: 280px;
	}
}

#business-row {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/business-background.jpg');
 	background-size: cover;
 	height: 100vh;
}

#business-tag {
	margin-top: 20%;
}

#g-play-logo {
	max-width: 200px;
	width: 100%;
}

/*
.big-row {
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

#color-picker {
	/*display: none;*/
}

.no-bottom {
	margin-bottom: 15px;
}

.no-top {
	margin-top: 0;
}

.full-img {
	max-width: 100%;
}

.color-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	cursor: pointer;
}

.icon-red {
	background-color: #F44336;
}
.icon-pink {
	background-color: #E91E63
}
.icon-purple {
	background-color: #9C27B0;
}
.icon-deeppurple {
	background-color: #673AB7;
}
.icon-indigo {
	background-color: #3F51B5
}
.icon-blue {
	background-color: #2196F3;
}
.icon-lightblue {
	background-color: #03A9F4;
}
.icon-cyan {
	background-color: #00BCD4;
}
.icon-teal {
	background-color: #009688;
}
.icon-green {
	background-color: #4CAF50;
}
.icon-lightgreen {
	background-color: #8BC34A;
}
.icon-lime {
	background-color: #CDDC39;
}
.icon-yellow {
	background-color: #FFEB3B;
}
.icon-amber {
	background-color: #FFC107;
}
.icon-orange {
	background-color: #FF9800;
}
.icon-deeporange {
	background-color: #FF5722;
}
.icon-bluegray {
	background-color: #607D8B;
}

.flat-button.icon-cyan:hover {
	background-color: #00ACC1;
}

.flat-button.icon-indigo:hover {
	background-color: #283593;
}