/*
*	LinkU css theme file:
*	overrides some styles from assets/css/main.css
*	Author: Leonardo Lanzinger
*	Colors:
*	primary red: #F44336;
*	secondary red: #D32F2F;
*	accent red: #D50000;
*  	accent amber: #FFC107;
*  	black: #212121;
*	secondary text: #525252;
*/

/********************************************************
 text 
 ********************************************************/

body {
	margin: 0;
	background-color: #fff;
	color: #212121;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

a {
	color: #D50000;
}

a:hover {
	color: #D32F2F;
}

p {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.dark-row, .dark-row h1, .dark-row h2, .dark-row h3, .dark-row h4, .dark-row h5, .dark-row h6{
	color: #ffffff;
}

h1 {
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 50px;
	margin-top: 10px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 34px;
	}	
}

h1.tagline {
	font-size: 35px;
}

h3.tagline {
	font-weight: 300;
	margin-top: 10px;
}

.centered-text {
	text-align: center;
}

.prototype-row p {
	font-size: 20px;
	font-weight: 300;
}

#business-row h3 {
	font-weight: 300;
	font-size: 25px;
	color: rgba(255,255,255,0.8);
}

#business-row h4 {
	font-weight: 300;
	font-size: 16px;
	color: rgba(255,255,255,0.8);
	line-height: 24px;
}

#business-row h4 a {
	color: #FFC107;
}

#business-row hr {
	opacity: 0.1;
}

#beta-test-call h4 {
	font-size: 24px;
	font-weight: 300;
}

.credits {
	font-size: 12px;
	color: #414141;
}

.credits .p-logo {
	height: 16px;
}

.credits a {
	font-weight: 400;
	color: inherit;
}

#terms-row h1 {
	margin-top: 1em;
	font-size: 52px;
	color: #D32F2F;
}

@media (max-width: 768px) {
	#terms-row h1 {
		font-size: 40px;
	}
}

#terms-row p.intro {
	color: #424242;
}

#terms-row h3 {
	color: #424242;
	font-weight: 400;
	padding-top: .8em;
	padding-bottom: .3em;
}

/********************************************************
 metrics 
 ********************************************************/

#header-row {
	background-image: url('../img/background-top.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 140px;
}

@media (max-width: 1200px) {
	#header-row {
		background-image: url('../img/background-top.png');
		min-height: 650px;
	}
}

@media (max-width: 768px) {
	#header-row {
		min-height: 650px;
		background-image: url('../img/background-top-small.png');
	}
}

#header-row h1.padded-bottom {
	padding-bottom: 10px;
}

#features-row.container .padded-top-bottom {
	padding: 80px 0 40px 0;
}

#features-row.container .padded-bottom {
	padding: 0 0 120px 0;
}

.prototype-row .container .padded-top-bottom {
	padding: 120px 0;
}

.prototype-row h1 {
	padding-bottom: 40px;
}

@media (min-width: 768px) {
	.prototype-row h1 {
		padding-top: 80px;
	}	
}

#business-row .container .padded-top {
	padding: 180px 0 0 0;
}

#beta-test-call.container .padded-top {
	padding: 80px 0 0 0;
}

#beta-test-call.container .padded-top-bottom {
	padding: 80px 0 80px 0;
}

#beta-test-call h4.padded-bottom {
	padding-bottom: 20px;
}

.no-overflow {
	overflow: hidden;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
	padding-left: 120px;
}

nav ul {
	height: 80px;
}

nav ul li {
	height: 80px;
}

nav ul li.active {
	border-bottom: 1px solid #D50000;
}

nav ul li a {
	font-weight: 400;
	height: 80px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #424242;
}

.nav > li > a:hover {
	background-color: inherit;
}

/********************************************************
 images 
 ********************************************************/

#header-row .logo-hedge {
	width: 400px;
}

@media (max-width: 768px) {
	#header-row .logo-hedge {
		width: 280px;
	}
}

#header-row .screenshot-big {
	width: 340px;
}

#header-row .screenshot-md {
	width: 240px;
}

#header-row .screenshot-sm {
	width: 240px;
}

#features-row .logo-hedge {
	max-width: 340px;
	width: 100%;
	margin-top: 20px;
}

.prototype-row .screenshot {
	width: 300px;
}
.centered-img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.right-img {
	margin-right: 0;
	margin-left: auto;
	display: block;
}

@media (min-width: 992px) {
	.prototype-row .right-img {
		margin-right: 80px;
	}
}

@media (min-width: 992px) {
	#second-prototype-row .screenshot {
		margin-left: 80px;
	}
}

.p-logo {
	display: inline-block;
	height: 24px;
	vertical-align: top;
}

@media (max-width: 768px) {
	#second-prototype-row .screenshot {
		margin-left: -240px;
	}
}

#business-row.business-bg {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/business-background.jpg');
 	background-size: cover;
 	height: 100vh;
 	min-height: 750px;
}

#business-row .h3-logo {
	display: inline-block;
	height: 32px;
	vertical-align: bottom;
}

#beta-test-call .h4-logo {
	display: inline-text;
	vertical-align: bottom;
	height: 32px;
}

.navbar-home {
	position: relative;
	float: left;
	display: block;
	vertical-align: bottom;
	height: 50px;
}

.navbar-logo {
	height: 50px;
}

/******************************************************** 
 header background: category icons 
 ********************************************************/

.header-background-md {
	position: absolute;
	z-index: 0;
	top: 120px;
	right: 25%;
	width: 240px;
}

.header-background-sm {
	position: absolute;
	z-index: 0;
	top: 120px;
	right: 8%;
	width: 240px;
}

/********************************************************
 colors 
 ********************************************************/

.bg-primary-red {
	background-color: #F44336;
}

.bg-secondary-red {
	background-color: #D32F2F;
}

.bg-accent-red {
	background-color: #D50000;
}

.bg-accent-amber {
	background-color: #FFC107;	
}

.dark-row {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

/********************************************************
 buttons
 ********************************************************/

.material-button {
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 26px;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	border: none;
}

.material-button:hover {
	background-color: #FFB300;
}

.material-button:active {
	background-color: #FFA000;
}